.pagination{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    display: flex;
    align-items: flex-start;
}

.PaginationInput{
    width: 100px;
    border-radius: 10px;
}

.PaginationSpanText{
    margin-left: 10px;
}

.PaginationPageSizeSelect{
    width: 100px;
    height: 30px;
    margin-left: 10px;
}